asgiref==3.9.1
comtypes==1.4.11
distlib==0.4.0
Django==5.2.6
django-cors-headers==4.9.0
django-extensions==4.1
django-phonenumber-field==8.3.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
filelock==3.19.1
gunicorn==26.0.0
numpy==2.3.2
packaging==26.2
phonenumbers==9.0.17
pillow==12.0.0
platformdirs==4.4.0
psycopg2==2.9.11
pydotplus==2.0.2
PyJWT==2.11.0
pyparsing==3.3.2
pypiwin32==223
python-dotenv==1.0.0
pyttsx3==2.99
pytz==2025.2
pywin32==311
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.34.0
whitenoise==6.12.0
